*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#container{
    width: 100%;
    height: 96vh;
    background: rgb(255, 255, 255);
}

.panel{
    outline: 1px solid rgba(0, 0, 0, 0.137);
}

#editor{
    background: #1f1f1f;
    overflow: hidden;
    position: relative;
}

.menu{
    padding-left: 20px;
    background: rgb(61, 61, 61);
}
.menu-item{
    font-size: 0.9em;
    border: none;
    background: rgb(61, 61, 61);
    color: white;
    padding: 8px 8px;
    text-decoration: none;
}
.menu-item:hover{
    cursor: pointer;
    background: rgb(44, 44, 44);
}
.menu-item:focus{
    border: none;
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.158);
    z-index: 1;
}

.dropdown-content-click {
    display: block;
}

.dropdown-item{
    text-align: left;
    font-size: 0.9em;
    width: 100%;
    border: none;
    background: rgb(49, 49, 49);
    color: white;
    padding: 4px 24px;
    text-decoration: none;
}
.dropdown-item:hover{
    cursor: pointer;
    background: rgb(41, 41, 41);
}
.dropdown-item:focus{
    border: none;
    outline: none;
}



iframe {
    outline: none;
    border: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.code-viewer{
    overflow: auto;
    color: white;
    padding: 1em;
    background: #1f1f1f;
}



.node{ 
    display: inline-block;
    background: #333333f5;
    border: 0.064em solid #ffffff00;
    border-radius: 10px;
    min-width: 12em;
    position: absolute;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.node:hover{
    border: 0.064em solid #ffffff21;
}

.node .header{
    color: white;
    padding: 0.5em 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.node .header:active{
    cursor: move;
}

.node .content{
    color: white;
    text-align: center;
    padding: 0.5em 0em;
}

.node .output{
    overflow: visible;
    position: absolute;
    right: -0.3em;
    top: 0.9em;
    height: 0.6em;
    width: 0.6em;
    background: #707070;
    border: calc(1em / 16) solid #000000af;
    border-radius: 100%;
}

.node .output-script{
    overflow: visible;
    position: absolute;
    right: -0.3em;
    top: 0.9em;
    height: 0.6em;
    width: 0.6em;
    background: #dac030;
    border: calc(1em / 16) solid #000000af;
    border-radius: 100%;
}


.node-output{
    background: rgb(34, 138, 145);
}
.node-div{
    background: rgb(34, 100, 145);
}
.node-text{
    background: rgb(56, 145, 34);
}
.node-header{
    background: rgb(56, 145, 34);
}
.node-button{
    background: rgb(145, 60, 34);
}
.node-script{
    background: rgb(172, 152, 38);
}


.node-input{
    position: relative;
    height: 1.6em;
}

.node-input .dot{
    overflow: visible;
    position: absolute;
    left: -0.3em;
    top: 0.5em;
    height: 0.6em;
    width: 0.6em;
    background: #707070;
    border: calc(1em / 16) solid #000000af;
    border-radius: 100%;
}

.node-textarea{
    display: inline-block;
    resize: none;
    border: 0.064em solid rgba(0, 0, 0, 0);
    border-radius: 0.14em;
    padding: 0.5em;
    height: 5em;
    width: 90%;
    outline: none;
}
.node-textarea:hover{
    outline: none;
    border: 0.064em solid rgba(0, 0, 0, 0);
}
.node-textarea:focus{
    border: 0.064em solid #1873bee0;
    box-shadow: 0em 0em 0.2em #1873be8c;
}

.node-input-field{
    display: inline-block;
    resize: none;
    border: 0.064em solid rgba(0, 0, 0, 0);
    border-radius: 0.14em;
    padding: 0.3em;
    width: 90%;
    outline: none;
}
.node-input-field:hover{
    outline: none;
    border: 0.064em solid rgba(0, 0, 0, 0);
}
.node-input-field:focus{
    border: 0.064em solid #1873bee0;
    box-shadow: 0em 0em 0.2em #1873be8c;
}

.node-dropdown{
    margin: 0.5rem 0rem;
    background: rgb(41, 41, 41);
    color:white;
    border: 0.064em solid rgba(0, 0, 0, 0);
    border-radius: 0.14rem;
    padding: 0.1em 0.4rem;
    width: 90%;
    outline: none;
}

.node-dropdown:hover{
    background: rgb(46, 46, 46);
    border: 0.064em solid rgba(255, 255, 255, 0.144);
}


.node-input-script{
    position: relative;
}

.node-input-script .dot{
    overflow: visible;
    position: absolute;
    left: -0.3em;
    top: 0.95em;
    height: 0.6em;
    width: 0.6em;
    background: #dac030;
    border: calc(1em / 16) solid #000000af;
    border-radius: 100%;
}
