*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#container{
    width: 100%;
    height: 96vh;
    background: rgb(255, 255, 255);
}

.panel{
    outline: 1px solid rgba(0, 0, 0, 0.137);
}

#editor{
    background: #1f1f1f;
    overflow: hidden;
    position: relative;
}

.menu{
    padding-left: 20px;
    background: rgb(54, 54, 54);
}
.menu-item{
    font-size: 1em;
    border: none;
    background: rgb(54, 54, 54);
    color: white;
    padding: 8px 8px;
    text-decoration: none;
}
.menu-item:hover{
    cursor: pointer;
    background: rgb(44, 44, 44);
}
.menu-item:focus{
    border: none;
    outline: none;
}



iframe {
    outline: none;
    border: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.code-viewer{
    overflow: auto;
    color: white;
    padding: 1em;
    background: #1f1f1f;
}



.node{ 
    display: inline-block;
    background: #2c2c2c;
    border: 0.064em solid #ffffff00;
    border-radius: 10px;
    min-width: 12em;
    position: absolute;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.node:hover{
    border: 0.064em solid #ffffff3a;
}

.node .header{
    color: white;
    padding: 0.5em 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.node .header:active{
    cursor: move;
}

.node .content{
    color: white;
    padding: 0.5em 1em;
}


.node-output{
    background: #228a91;
}
.node-div{
    background: #226491;
}
.node-text{
    background: #389122;
}
.node-header{
    background: #917322;
}


.node-textarea{
    border: 0.064em solid rgba(0, 0, 0, 0);
    border-radius: 0.14em;
    padding: 0.5em;
    height: 5em;
    outline: none;
}
.node-textarea:hover{
    outline: none;
    border: 0.064em solid rgba(0, 0, 0, 0);
}

.node-textarea:focus{
    border: 0.064em solid #1873bee0;
    box-shadow: 0em 0em 0.2em #1873be8c;
}

